.UneExpertiseMondiale_311_246 {
  color: #243768;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Gotham', 'Inter', ui-sans-serif, system-ui, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  display: inline-block;
}
